[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MultiRobust"]
	path = MultiRobust
	url = https://github.com/cran/MultiRobust
	shallow = true
	registered = true
